.eventLogView {
  background-color: rgb(46, 46, 46);
  color: white;
  border-top: 1px dashed white;
  padding: 20px;
  display: flex;
  flex: 4;
  flex-direction: column;
  max-height: 50%;
  overflow: scroll;

  .logLine {
    font-size: 0.9rem;
    line-height: 1.7rem;

    .event {
      background-color: #fff;
      color: black;
      padding: 2px 5px;
      margin-right: 10px;
    }

    .key {
      color: rgb(0, 204, 255);
    }

    .prevVal {
      color: rgb(208, 255, 0);
    }

    .newVal {
      color: rgb(0, 255, 136);
    }
  }
}
