$blockSize: 12px;

.timeline {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex: 2;
  background-color: #111111;
  border-top: 1px dashed white;
  color: white;
  padding: 17px;
  overflow-y: scroll;

  .timelineBlock {
    display: flex;
    min-width: $blockSize;
    height: $blockSize;
    border: 1px solid rgb(88, 88, 88);
    margin: 3px;

    .lightUpBlock {
      display: flex;
      min-width: $blockSize;
      height: $blockSize;
      background-color: #3eff95;
      box-shadow: 0px 0px 7px 5px #3eff954f;
      z-index: 99;

      &:hover {
        background-color: white;
        box-shadow: 0px 0px 7px 5px #d6d6d6a8;
      }
    }
  }
}
